<%= form_for(@guild, :html => {:name => 'form1'}) do |f| %>
  <% if @guild.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guild.errors.count, "error") %> prohibited this guild from being saved:</h2>

      <ul>
      <% @guild.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :realm %><br />
    <%= f.text_field :realm %>
  </div>
  <p id="guildvalid"></p>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $('#guild_name, #guild_realm').change(function() {
    var name = $('#guild_name').val()
    var realm = $('#guild_realm').val()
    if (name && realm) {
      console.log($.getJSON("http://us.battle.net/api/wow/guild/" + realm + "/"+ name))
    }
  })
</script>