<h1>Listing guilds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Faction</th>
    <th>Realm</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guilds.each do |guild| %>
  <tr>
    <td><%= link_to guild.name, guild %></td>
    <td><%= guild.faction %></td>
    <td><%= guild.realm %></td>
    <td><%= guild.email %></td>
    <td><%= link_to 'Edit', edit_guild_path(guild) %></td>
    <td><%= link_to 'Destroy', guild, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guild', new_guild_path %>
