
<p>
  <b>Name:</b>
  <%= @guild.name %>
</p>

<p>
  <b>Faction:</b>
  <%= @guild.faction %>
</p>

<p>
  <b>Realm:</b>
  <%= @guild.realm %>
</p>

<p>
  <b>Email:</b>
  <%= @guild.email %>
</p>

<p>
  <b><%= link_to "Guild Roster", guild_characters_path(@guild) %></b>
</p>

<%= link_to 'Edit', edit_guild_path(@guild) %> |
<%= link_to 'Back', guilds_path %>
