<h1>Listing topics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Guild</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.name %></td>
    <td><%= topic.guild_id %></td>
    <td><%= link_to 'Show', topic_posts_path(topic) %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_guild_topic_path %>
