<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :realm %><br />
    <%= f.text_field :realm %>
  </div>
  <div class="charactervalid"></div><br />
  
  <% f.fields_for :guilds do |g| %>
    <div class="field">
      <%= g.label :password %><br />
      <%= g.password_field :password %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript" charset="utf-8">
  $('#character_name, #character_realm').change(function() {
    var name = $('#character_name').val()
    var realm = $('#character_realm').val()
    if (name && realm) {
      $.jsonp({
        url: "http://us.battle.net/api/wow/character/" + realm + "/"+ name + "?jsonp=?",
        callbackParameter: 'callback',
        success: function(data, status) {
          $('div.charactervalid').html('Character found').css({color: 'green'})
        },
        error: function(request, status) {
          $('div.charactervalid').html('Character does not exist on this realm').css({color: 'red'})
        }
      })
    }
  })
</script>