
<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>User:</b>
  <%= @character.user.email %>
</p>

<p>
  <b>Guild:</b>
  <%= @character.guild.name %>
</p>


<p>
  <% if @character.stats %>
    <ul>
    <% Stat::LABELS.each_pair do |k,v|%>
      <%= content_tag(:li, "#{v}: #{@character.stats.send(k)}")%>
    <% end %>
    </ul>
  <% end %>
</p>
<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', guild_characters_path(@character.guild) %>
