
<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>User:</b>
  <%= @character.user.email %>
</p>

<p>
  <b>Guild:</b>
  <%= @character.guild.name %>
</p>


<p>

  <%  if stats = Character.get_stats(@character) %>
    <% stats.attributes.each_pair do |name, value| %> 
      <%= "#{name} = #{value}" unless name == "_id" || name == "character_id" %><br /> 
    <% end %>
  <% end %>
</p>
<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', guild_characters_path(@character.guild) %>
