
<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>User:</b>
  <%= @character.user_id %>
</p>

<p>
  <b>Guild:</b>
  <%= @character.guild_id %>
</p>

<p>
  <b>Race:</b>
  <%= @character.race %>
</p>

<p>
  <b>Class:</b>
  <%= @character.class %>
</p>

<p>
  <b>Level:</b>
  <%= @character.level %>
</p>
<p>
  <% stats = Character.get_stats(@character) %>
  <% stats.each_pair do |k,v| %>
    <% unless k == "_id" %>
      <%=  "#{k} : #{v}" %><br />
    <% end %>
  <% end %> 
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', guild_characters_path(@character.guild) %>
