<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Context:</b>
  <%= @post.context %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', topic_posts_path(@post.topic) %>
