<p id="notice"><%= notice %></p>

<p>
  <b>Health:</b>
  <%= @stat.health %>
</p>

<p>
  <b>Powertype:</b>
  <%= @stat.powerType %>
</p>

<p>
  <b>Power:</b>
  <%= @stat.power %>
</p>

<p>
  <b>Str:</b>
  <%= @stat.str %>
</p>

<p>
  <b>Agi:</b>
  <%= @stat.agi %>
</p>

<p>
  <b>Sta:</b>
  <%= @stat.sta %>
</p>

<p>
  <b>Int:</b>
  <%= @stat.int %>
</p>

<p>
  <b>Spr:</b>
  <%= @stat.spr %>
</p>

<p>
  <b>Attackpower:</b>
  <%= @stat.attackPower %>
</p>

<p>
  <b>Rangedattackpower:</b>
  <%= @stat.rangedAttackPower %>
</p>

<p>
  <b>Master:</b>
  <%= @stat.master %>
</p>

<p>
  <b>Masteryrating:</b>
  <%= @stat.masteryRating %>
</p>

<p>
  <b>Crit:</b>
  <%= @stat.crit %>
</p>

<p>
  <b>Critrating:</b>
  <%= @stat.critRating %>
</p>

<p>
  <b>Hitpercent:</b>
  <%= @stat.hitPercent %>
</p>

<p>
  <b>Hitrating:</b>
  <%= @stat.hitRating %>
</p>

<p>
  <b>Hasterating:</b>
  <%= @stat.hasteRating %>
</p>

<p>
  <b>Expertiserating:</b>
  <%= @stat.expertiseRating %>
</p>

<p>
  <b>Spellpower:</b>
  <%= @stat.spellPower %>
</p>

<p>
  <b>Spellpen:</b>
  <%= @stat.spellPen %>
</p>

<p>
  <b>Spellcrit:</b>
  <%= @stat.spellCrit %>
</p>

<p>
  <b>Spellcritrating:</b>
  <%= @stat.spellCritRating %>
</p>

<p>
  <b>Spellhitpercent:</b>
  <%= @stat.spellHitPercent %>
</p>

<p>
  <b>Spellhitrating:</b>
  <%= @stat.spellHitRating %>
</p>

<p>
  <b>Mana5:</b>
  <%= @stat.mana5 %>
</p>

<p>
  <b>Mana5combat:</b>
  <%= @stat.mana5Combat %>
</p>

<p>
  <b>Armor:</b>
  <%= @stat.armor %>
</p>

<p>
  <b>Dodge:</b>
  <%= @stat.dodge %>
</p>

<p>
  <b>Dodgerating:</b>
  <%= @stat.dodgeRating %>
</p>

<p>
  <b>Parry:</b>
  <%= @stat.parry %>
</p>

<p>
  <b>Parryrating:</b>
  <%= @stat.parryRating %>
</p>

<p>
  <b>Block:</b>
  <%= @stat.block %>
</p>

<p>
  <b>Blockrating:</b>
  <%= @stat.blockRating %>
</p>

<p>
  <b>Resil:</b>
  <%= @stat.resil %>
</p>

<p>
  <b>Mainhanddmgmax:</b>
  <%= @stat.mainHandDmgMax %>
</p>

<p>
  <b>Mainhandspeed:</b>
  <%= @stat.mainHandSpeed %>
</p>

<p>
  <b>Mainhanddps:</b>
  <%= @stat.mainHandDps %>
</p>

<p>
  <b>Mainhandexpertise:</b>
  <%= @stat.mainHandExpertise %>
</p>

<p>
  <b>Offhanddmgmin:</b>
  <%= @stat.offHandDmgMin %>
</p>

<p>
  <b>Offhanddmgmax:</b>
  <%= @stat.offHandDmgMax %>
</p>

<p>
  <b>Offhandspeed:</b>
  <%= @stat.offHandSpeed %>
</p>

<p>
  <b>Offhanddps:</b>
  <%= @stat.offHandDps %>
</p>

<p>
  <b>Offhandexpertise:</b>
  <%= @stat.offHandExpertise %>
</p>

<p>
  <b>Rangeddmgmin:</b>
  <%= @stat.rangedDmgMin %>
</p>

<p>
  <b>Rangeddmgmax:</b>
  <%= @stat.rangedDmgMax %>
</p>

<p>
  <b>Rangedspeed:</b>
  <%= @stat.rangedSpeed %>
</p>

<p>
  <b>Rangeddps:</b>
  <%= @stat.rangedDps %>
</p>

<p>
  <b>Rangedcrit:</b>
  <%= @stat.rangedCrit %>
</p>

<p>
  <b>Rangedcritrating:</b>
  <%= @stat.rangedCritRating %>
</p>

<p>
  <b>Rangedhitpercent:</b>
  <%= @stat.rangedHitPercent %>
</p>

<p>
  <b>Rangedhitrating:</b>
  <%= @stat.rangedHitRating %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
